[2014-04-18 17:48] bermud opened #1 "test-issue"
an issue

[2014-04-18 17:48] #1 closed, assigned to nobody

[2014-07-24 10:30] bermud opened #2 "CITE CSW 202 not parsing extended capablities"
It seems that the tests for CSW202 have troubles parsing the following CSW
2.0.2 capabilities document, which are valid, according to Altova XMLSpy 2013
and Stylus Studio 2011:

http://inspire-geoportal.ec.europa.eu/GeoportalProxyWebServices/resources/OGC
CSW202?service=CSW&version=2.0.2&request=GetCapabilities

I believe this is the cause why in the attached logs it sasys that the reponse
body is

[2014-07-24 10:34] bermud opened #3 "invalid identifier should raise an exception"
csw:csw-2.0.2-GetRecordById-tc3.1

The test is currently enforcing that: "The response to a GetRecordById
request containing no matching identifiers must be empty".

But the specification says that if any of the identifiers specified in the
operation is invalid, then the operation should fail and an exception message
should be returned as described in subclause 10.3.7.

Moreover, "this operation p

[2014-07-24 10:39] bermud opened #4 "Test csw:csw-2.0.2-GetCapabilities-tc7.2 requires FilterCapabilities even though that section has not been requested"
Result:

    Test csw:csw-2.0.2-GetCapabilities-tc7.2 type Mandatory default result Passed (s0004/d1433e6483_1/d1433e6345_1/d1433e435_1)

    Assertion:
          The response to a GetCapabilities request that includes a sections parameter
          listing optional elements shall include only the requested elements in the
          response entity.

    Request d1433e1136_1:
       Method: GET

[2014-11-25 11:14] lorebiga opened #5 "Build failure: missing dependency (teamengine-resources:jar:4.0.5)"
Build fails:
Resources archive cannot be found. Could not find artifact org.opengis.cite.teamengine:teamengine-resources:jar:4.0.5

Possible solution: deploy the missing jar to Maven Central, or add an appropriate repository to the ets-csw202 pom.

Workaround: checkout tag 4.0.5 of teamengine-resources and install it locally.

[2014-11-26 17:46] #3 closed, assigned to lorebiga

[2014-12-16 18:35] #5 closed, assigned to bermud

[2015-03-05 17:26] #2 closed

[2015-03-06 17:29] lorebiga commented on #2
Release note: the test requires that the capabilities document contains all the schema locations necessary for validation.

[2015-04-17 00:28] tastle opened #6 "Timezone isn't valid for a dc:date"
There are several tests in the GetRecords script that have have filters like:

[code]

The problem is that the literal isn't a valid date.  Dates don't have timezones.  Omitting the Z makes the date valid.  The other option would be to do 2004-01-01TZ, but the spec seems to be pretty clear on using a date, not a date time.

Does anyone else have any thoughts on this?

[2015-04-19 16:21] tastle opened #7 "Test 19.1 PropertyIsLike should match case by default in GetRecords filter"
The test data has two instances of "Lorem" and three instances of "lorem".

In the following test, a case-insensitive filter is used and the test expects five results.
https://github.com/opengeospatial/ets-csw202/blob/master/src/main/scripts/ctl/GetRecords/CSW-GetRecords-POST.xml#L1844

[code]

When the matchCase attribute is omitted, the default value is true, meaning it should match the case.
ht

[2015-04-27 18:08] lorebiga commented on #6
Date values are encoded with the encoding scheme defined in XML Schema Part 2: Datatypes. That is, date literals in the tests are encoded (and may be parsed) as xsd:date instances. This is a most natural choice, since the tests already leverage XML Schema, XSL, etc.

Xsd:date instances may in fact have timezones (the concept is called "Timezoned date"), with the semantic defined in [http://www.w3.

[2015-04-28 01:04] tastle commented on #6
I think you've hit the nail on the head.

[ISO 8601](http://dotat.at/tmp/ISO_8601-2004_E.pdf) does not define a "Timezoned date".  So parsing dates using an ISO 8601 compliant library will fail.

Thanks for the clarification.

[2015-04-28 08:59] lorebiga commented on #6
I have tried to confirm that the syntax is invalid wrt ISO 8601, looking for a ISO 8601 parser (preferably online). What library are you using?

I think this aspect deserves to be clarified better in the tests documentation (and possibly in the specs), thanks for reporting.

[2015-04-28 10:31] lorebiga commented on #7
There has been a corrigendum in Filter Encoding V1.1 on 26 October 2012 (OGC 04-095c1), which has introduced the matchCase attribute.
The tests are based on the previous spec and schema (OGC 04-095), where the matching was unspecified.
I think the OGC policy mandates the adoption of corrigenda, so this is probably a bug. I'm consulting with the author of the corrigendum (and editor of CSW) on this

[2015-04-29 19:17] tastle commented on #6
@lorebiga, we are using [JodaTime](http://www.joda.org/joda-time/), eventually transitioning to [Java 8 Date and Time API](http://www.oracle.com/technetwork/articles/java/jf14-date-time-2125367.html) [JSR-310](https://jcp.org/en/jsr/detail?id=310).

So when we parse the date, it throws an exception.

It's funny though.  All W3C DTF had to do to support Timezoned Dates, is to do

[code]

instead of

[2015-05-05 10:10] lorebiga commented on #6
Yes, let's reopen.
Could you help me confirm that the Timezoned Date syntax is non-compatible ISO 8601/W3C DTF?
I'm not 100% sure either.

If that is the case, I think we should avoid it (hence remove the Z).

[2015-05-11 18:55] tastle commented on #6
What a difficult task.  With what I've read, I don't believe I'd wish any of this upon my worst enemy.

What I think I'm seeing is that the sample date values might be wrong because it's modelled as it should end up be formatted as in the ISO 19139 metadata model.  I'm probably not going to get this all straight, but I'm going to try to explain my thought process as best as possible.  So if I make

[2015-05-20 18:07] tomkralidis opened #8 "allow for higher versions than CSW 2.0.2"
CSW 2.0.2 (using OWS Common 1.0.0) and CSW 3.0.0 (using OWS Common 2.0.0) both prescribe (in clause 7.3.2):

Now that CSW 3.0.0 is available, a given endpoint supporting both CSW 2.0.2 and CSW 3.0.0 returns 3.0.0 per clause 7.3.2.

The CSW 2.0.2 tests need to account for newer response on some of the tests so they do not fail if a higher (albiet not 2.0.2) version is returned.

[2015-05-22 20:28] kalxas commented on #8
+1

[2015-05-25 12:42] lorebiga commented on #8
hi Tom, I think test 'csw:csw-2.0.2-GetCapabilities-tc1.1' should be amended to force 2.0.2 Capabilities to be returned, by adding the 'AcceptVersions' parameter.
Would it work for you?

[2015-05-25 12:47] tomkralidis commented on #8
Hi @lorebiga, agree.  Either `acceptversions=2.0.2` or `version=2.0.2` (latter is preferable).

[2015-05-25 14:13] lorebiga commented on #8
for what I see from the specs, AcceptVersions should be the one...

[2015-05-25 14:19] #8 closed

[2015-05-25 14:20] lorebiga commented on #8
I've added the AcceptVersions parameter, let me know if the fix works.

[2015-05-26 17:36] tomkralidis commented on #8
Works when testing locally.  Thanks!

[2015-05-27 08:27] lorebiga commented on #8
Great! Thanks for reporting!

[2015-06-02 12:08] bermud opened #9 "DescribeRecord invalid type name"
Test csw:csw-2.0.2-DescribeRecord-tc3.1

The expected response in the CITE test is: The document element must have [local name] = "DescribeRecordResponse" and [namespace name] = http://www.opengis.net/cat/csw/2.0.2.

In the specification the only information I could find is:

Table 18 — Definition of describeRecordType operation

- Exceptions
	- Missing Parameter Value, Invalid Parameter Value, No

[2015-06-02 12:10] bermud commented on #9
Fixed in https://github.com/opengeospatial/ets-csw202/commit/1d0b4acdaac6d5922eca8b2dab9133500e44de86

[2015-06-02 12:10] #9 closed

[2015-06-02 14:10] bermud opened #10 "Missing mandatory schemaLanguage parameter for DescribeRecord"
When testing this service
http://ogc.intergraph.com/CSW2015-CITE/Service.svc/get?request=GetCapabilities&service=CSW

The following assertion error is found:
[code]

However, the "XMLSCHEMA" used is exactly the same as in the csw specification (page 137)

 "The schemaLanguage parameter is used to specify the schema language that should be used to describe the specified types. The default value is

[2015-06-03 17:06] bermud commented on #10
@rjmartell can you please take a look at this issue. It seems the spec default value is XMLSCHEMA and not the URI representing the XML schema. I think we should allow for both. Can you please make the changes?

[code]

but I see this from the RI is passing

[code]

[2015-06-03 18:14] rjmartell commented on #10
The default value declared in [CSW-discovery.xsd](http://schemas.opengis.net/csw/2.0.2/CSW-discovery.xsd) is "http://www.w3.org/XML/Schema". This is also shown in the listing in 07-006r1, cl. 10.6.3 so the entry in Table 62 appears to be incorrect (also the text in 10.6.4.4).

This constraint is checked in the [Schematron schema](https://github.com/opengeospatial/ets-csw202/blob/master/src/main/re

[2015-06-03 18:24] bermud commented on #10
@rjmartell. Thank you. I see the schema declares
<xsd:attribute name="schemaLanguage" type="xsd:anyURI" use="optional" default="http://www.w3.org/XML/Schema"/>

[2015-06-03 18:24] #10 closed

[2015-06-03 19:13] lorebiga commented on #10
@bermud , @rjmartell , please note that this issue had been already reported (by Stan), discussed, and fixed (by myself) as [issue #901](https://portal.opengeospatial.org/?m=projects&a=view&project_id=85&tab=5&act=details&issue_id=901).
I had come to the very same conclusion.

[2015-06-22 14:02] lorebiga commented on #6
hi @tastle, thanks for looking into this. I'm not sure I follow your reasoning entirely, but I think we are getting to a solution here.
I've a question: why do you say that the Dublin Core date definition allows carrying a time zone _only if a time is provided_?
I wasn't able to spot that precise requirement in the definitions. Hence, I wouldn't conclude that dc:date values in the sample data are

[2015-06-22 14:21] tastle commented on #6
@lorebiga , I think I got there because of:

* The dublin core definition of a date.
 * http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=elements#date

* And the W3CDTF valid formats.
 * http://www.w3.org/TR/NOTE-datetime-970915.html

second
      YYYY-MM-DDThh:mm:ss.sTZD (eg 1997-07-16T19:20:30.45+01:00)
where:

So to answer your question:

I believe the dublin core recommends using W3CDT

[2015-06-23 09:54] lorebiga commented on #6
Well, as far as tests are concerned, we really need to be picky on the wording and avoid over-restrictive interpretations: we cannot assume a specification requires something, unless it actually does it normatively.

In this case, the use of W3C DTF is only recommended by DC, so we cannot make it mandatory. The literals in the tests use the XSL encoding, which is legitimate, hence we can't call th

[2015-06-23 16:02] tastle commented on #6
Yes, I'm okay with closing this issue.  I think your proposal makes sense, which is what had me confused.

I really appreciate your help and time @lorebiga.  It's nice to see people actively be available to help where there are problems or questions with these tests.

Best wishes!

[2015-06-23 16:02] #6 closed

[2015-06-24 08:14] lorebiga commented on #6
thanks for the nice words @tastle! And thanks for taking the time to report on this subtle issue, and to follow up! To next time!

[2015-06-25 01:38] tomkralidis commented on #6
@lorebiga we need to update the [test data](https://github.com/opengeospatial/ets-csw202/tree/master/src/main/resources/data) to reflect this as well, in these files:

[code]

[2015-06-25 01:55] tomkralidis opened #11 "generate test data bundle on build"
The test data in https://github.com/opengeospatial/ets-csw202/tree/master/src/site/resources (which is a `.zip` of https://github.com/opengeospatial/ets-csw202/tree/master/src/main/resources/data) should be generated on build/release instead of housed in version control.

This would ensure consistency between the actual test data and their bundle, as well as reduce the need to manage this manually

[2015-06-25 01:57] tomkralidis commented on #6
FYI this also needs to be update here: https://github.com/opengeospatial/ets-csw202/blob/faf2d8ab55d75afbd9fd94c5dc26d04cf107fb13/src/main/scripts/ctl/GetRecords/CSW-GetRecords-POST.xml#L1150-L1151

If it helps, I can submit a pull request.

[2015-06-25 10:08] lorebiga commented on #6
hi @tomkralidis, I had made some changes when I saw your pull... I'm reverting and getting yours. Thanks! :+1:

[2015-07-02 13:40] lorebiga commented on #11
@tomkralidis I've progressed on this a bit. Now the data are created at build time, but I'm not sure they get included in the site bundle. Your comments are welcome.

[2015-07-02 13:42] kalxas commented on #11
Thank you @lorebiga
Any timeline for these changes to be deployed on beta CITE?

[2015-07-02 14:25] tomkralidis commented on #11
Thanks @lorebiga.  I've issued https://github.com/opengeospatial/ets-csw202/pull/13 with a minor fix.  Great work!

[2015-07-02 15:40] bermud commented on #11
@kalxas, we are trying to standardized the time we release tests at TEAM Engine beta. We often do it once per month. The next release will be by the end of July. More details [here](https://github.com/opengeospatial/cite/wiki/Releasing-Tests-to-the-OGC-Testing-Infrastructure).

[2015-07-02 15:59] kalxas commented on #11
thanks @bermud

[2015-07-04 12:03] tomkralidis opened #14 "run tests with properties file as argument"
In the context of running via console/command line, the file `src/test/resources/sut.properties` needs to be updated to test a different CSW.

Similar to [ets-cat30](https://github.com/opengeospatial/ets-cat30), update `mvn test` to accept this file (or some config file like https://github.com/opengeospatial/ets-cat30/blob/master/src/main/resources/test-run-props.xml) as an argument (with the fall

[2015-07-04 12:07] tomkralidis opened #15 "skip testing from build"
Running `mvn install` will run tests against the CSW configured in `src/test/resources/sut.properties`.

I'm not family with Maven semantics, but is there any way to build the software without running the tests?

- tests run against remote resources, which will break if not connected to the Internet
- if the user has modified `src/test/resources/sut.properties` with a local CSW which is turned off

[2015-07-04 19:47] bermud commented on #15
To skip the tests run mvn -Dmaven.test.skip=true install

[2015-07-04 19:55] tomkralidis commented on #15
Perfect, thanks @bermud!

[2015-07-06 13:23] lorebiga commented on #11
thank you @tomkralidis, I've added your name to the contributors list :+1:

PS: I think the data file (csw-2.0.2-data.zip) should have the standard assembly name (e.g. ets-csw20-1.13-SNAPSHOT-data.zip), as it would include the correct build version. However, this would need filtering a few files, POM hacking, etc., so I'd leave it as it is, for the time being.

[2015-07-06 13:23] #11 closed

[2015-07-06 13:36] #15 closed

[2015-07-22 13:20] tomkralidis opened #16 "csw-2.0.2-GetCapabilities-tc1.3 shall accept an unknown response for backward compatibility"
@lorebiga: given 60b469486a9e0c6dfd1a0d1ece29a30163399e93, pycsw fails against `csw-2.0.2-GetCapabilities-tc1.3`.

Request: http://demo.pycsw.org/cite/csw?SERVICE=CSW&REQUEST=GetCapabilities&ACCEPTVERSIONS=2006.10.29

The problem is pycsw returns a CSW3-based `ExceptionReport`.

Given #8, the nature of this test case and the 'highest version first' design pattern of OWS, can we update this test ca

[2015-07-22 14:00] lorebiga commented on #16
Hi @tomkralidis, I noticed this when testing the 1.13.
I'm checking the spex to see how we can work around this. Any ideas?

[2015-07-22 14:08] tomkralidis commented on #16
@lorebiga perhaps, for this specific test case, look for either an OWS 1.0.0 **OR** 2.0.0 `ExceptionReport`?

[2015-07-22 14:23] lorebiga commented on #16
Yes. I was also thinking that perhaps we may wildcard the namespace...

[2015-08-03 19:13] bermud opened #17 "remove relnotes from index.md"

[2015-08-03 19:16] bermud opened #18 "check styles"
Check why styles in this test look different from other tests
E.g.
http://cite.opengeospatial.org/te2/about/csw/2.0.2/site/index.html
http://cite.opengeospatial.org/te2/about/sos/1.0.0/site/relnotes.html

I think styles (css) are missing.

[2015-08-04 10:10] #17 closed

[2015-08-05 18:26] bermud commented on #7
I confirmed that we do not need to update the tests. If there is a new version of CSW 2.0 standard, then the dependency needs to be updated. I will close this issue.

[2015-08-05 18:34] tastle commented on #7
@bermud, shouldn't the data be updated though since the expectation is to be case-sensitive?

[2015-08-11 19:17] tastle commented on #7
Just checking back in.  I do not understand the comment that lead to this issue being closed.  I think this issue needs to be reopened and either the data needs to be corrected, or the tests.

@bermud, @lorebiga can you clarify?

Or should the tests continue to fail, and we just note that there is a bug with these tests?  Or am I missing something obvious?

[2015-08-11 21:59] bermud commented on #7
@lorebiga, I think I closed the issue too fast.  @tastle is  correct.
@lorebiga, please make the necessary changes. Thank you.

[2015-08-12 09:34] lorebiga commented on #7
@bermud, I was referring to you as I am unclear on the policy for adopting corrigenda and its implication on existing spex, ETSs, etc.

The user complies with the Filter Encoding V1.1 corrigendum of 26 October 2012 (OGC 04-095c1), which has introduced the matchCase attribute for the PropertyIsLike operator.
Instead, the ETS are based on the previously approved spec and schema (OGC 04-095), where t

[2015-08-15 16:53] tomkralidis commented on #16
@lorebiga any status on this one?  In current state pycsw fails until this is fixed in CITE.

[2015-08-17 14:20] lorebiga commented on #16
@tomkralidis, I think this is a bug, as the CSW 2.0.2 specs say (§7.3.2): "If the list does not contain any version numbers that the server supports, the server shall return an Exception with exceptionCode="VersionNegotiationFailed". To ensure backward compatibility, clients shall also be prepared to accept an unknown response and treat this situation as an indication that version negotiation has

[2015-08-18 10:30] #16 closed

[2015-08-18 10:34] lorebiga commented on #16
@tomkralidis can you confirm the fix is ok? If so, I'll release this as beta.

[2015-08-18 10:56] tomkralidis commented on #16
@lorebiga thanks for the update.  FYI pycsw returns an Exception with `exceptionCode="VersionNegotiationFailed"`, but via an OWS *2* `ExceptionReport`, not an OWS *1* `ExceptionReport`.

IHMO this test is best off simply scanning for //exceptionCode with value `VersionNegotiationFailed` independent of the OWS version of the response.  Thoughts?

[2015-08-18 11:18] lorebiga commented on #16
I thought about that, but it would imply assessing the response correctness against the CSW 3.0 specification, which is out of scope in the CSW 2.0.2 ETS.

So I'd rather congregate the CSW 3.0 with the other "unknown responses" (which are however legitimate).

[2015-08-18 11:20] lorebiga commented on #16
Plus, in case of a strict CSW 2.0.2 response, the ExceptionReport must have a version of 1.2.0, which wouldn't be tested in your approach, if I understand it correctly.

[2015-08-18 11:22] tomkralidis commented on #16
@lorebiga how can, in this case, pycsw pass this test, then?  pycsw is emitting 'latest version first' design pattern, as discussed in #8

[2015-08-18 11:27] tomkralidis commented on #16
Suggested approach:

- assert response XML for `//@exceptionCode==VersionNegotiationFailed`
- assert response XML for `//@locator==acceptversions` (case insensitive)

This covers this test case whether the endpoint supports versions > 2.0.2 or not.

[2015-08-18 11:27] lorebiga commented on #16
I think it should pass the test now, as its response is legitimate. I'm running the test agains pycsw and  I get: "Cannot find the declaration of element 'ows20:ExceptionReport'."

[2015-08-18 11:32] tomkralidis commented on #16
The failure I'm getting from CITE is:

[code]

[2015-08-18 11:34] tomkralidis commented on #16
Note: testing http://demo.pycsw.org/cite/csw from CITE master via `mvn test`

[2015-08-18 11:53] lorebiga commented on #16
I'm testing against this endpoint, which I found in the sut.properties:
http://demo.pycsw.org/cite/csw?service=CSW&version=2.0.2&request=GetCapabilities

[2015-08-18 11:53] tomkralidis commented on #16
@lorebiga same here.

[2015-08-18 12:30] lorebiga commented on #16
The test was still validating against the OWS 1.0, now it should work, please confirm.

[2015-08-18 12:34] tomkralidis commented on #16
Confirmed, works.  Thanks @lorebiga !

[2015-08-18 12:36] lorebiga commented on #16
Good, validation is spread all over the scripts, I had forgotten a call some lines up (CTL is a PITA :-)
Thank you for reporting and for your cooperation!
I'm rolling this out in the new beta, should be out end of month.

[2015-10-29 15:33] bermud commented on #14
This test is written in CTL, so we can create an xml that passes the values of the instance that needs to be tested. It is explained here: http://opengeospatial.github.io/teamengine/users.html, section 'Running with no User Interaction'

[2015-10-29 16:39] lorebiga commented on #7
Resolution: corrigenda are immediately applied (i.e. schemas are replaced, etc.)

Hence, I consider this a regression bug in the ETS.

We can assume that existing CSW are aware of the corrigendum and honour the matchCase attribute. Hence, we are free to either change the test, or the data.

I am more in in favour of changing the test,  since changing the data may have side effects on other tests.

[2015-10-30 13:35] #7 closed

[2016-01-07 18:05] bermud commented on #18
This issue has been fixed. Maybe in this commit https://github.com/opengeospatial/ets-csw202/commit/4cbf29f88b155cfe5ca96c14a9629e1c54894d1f

[2016-01-07 18:05] #18 closed

[2016-01-07 18:07] #14 closed

[2016-01-07 18:08] bermud commented on #4
@lorebiga, do we have any final resolution to this question/issue?

[2016-01-08 09:49] lorebiga commented on #14
Thanks for answering this question, Luis.

I checked into CSW 3.0, but I haven’t found what’s the strategy there to implement what Tom suggested.
Perhaps a maven property would do.

If Tom replies, we can sort that out differently,
  L

---
Lorenzo Bigagli, Ph.D.
National Research Council of Italy
Institute of Atmospheric Pollution Research (CNR-IIA)
Earth and Space Science Informatics Laboratory

[2016-01-08 10:49] lorebiga commented on #4
Filter_Capabilities is mandatory in the response, as per the Capabilities schema. The test fails because the response is invalid without that.

The test comment reads: "Pass if the response is schema valid and includes only the requested optional elements."

From OGC 05-008: 7.3.3 (p.17) and OGC 07-006r1: 7.2.3.2 (p.30-31), the response to a GetCapabilities request that includes a sections paramet

[2016-01-08 10:49] #4 closed

[2016-01-08 11:02] lorebiga commented on #4
Hi dear Luis!

I hope your holiday went well and 2016 is great!

I’ve checked and closed the issue. I had planned of closing all at the end of November, I apologise for the delay (had a chapter to write that took me longer, plus Xmas, etc.)

Now, also thanks to your contribution, we are ready to roll 1.15 to beta. Let me know if I should wait a little more towards the end of the month (in case som

[2016-01-08 12:43] tomkralidis commented on #14
cc @rjmartell

I'm not exactly sure how the csw30 tests do this, but the user instructions at https://github.com/opengeospatial/ets-cat30#2-integrated-development-environment-ide would be a good model to follow.

[2016-01-29 16:16] bermud commented on #4
Fixed with 862d4857ecf6bc04f435fce0f608fa3ca30a933b

[2017-04-25 07:56] keshav-nangare opened #20 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:
https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-09-07 12:48] lorebiga commented on #20
thanks for reporting, should be ok now. I'm testing it, feel free to double check.

[2017-09-07 13:36] #20 closed

[2017-11-16 10:11] keshav-nangare opened #21 "A sequence of more than one item is not allowed as the first argument of compare()"
Some tests are get failed with the following service URL.

http://gptogc.esri.com/geoportal/csw?request=GetCapabilities&service=CSW&AcceptVersions=2.0.2

[code]

[code]

Log file is here.
[log.txt](https://github.com/opengeospatial/ets-csw202/files/1478125/log.txt)

[2017-12-14 19:49] tomkralidis opened #22 "nextRecord value when maxRecords="0""
As suggested in the [OGC CITE](http://lists.opengeospatial.org/pipermail/cite-forum/2017-December/001711.html) thread, opening this issue to address `maxRecords=0` behaviour.  Associated pycsw ticket at https://github.com/geopython/pycsw/pull/557#issuecomment-351815650 (CITE trace at https://github.com/geopython/pycsw/pull/557#issuecomment-351815650)

[2017-12-15 09:08] dstenger commented on #22
Further information from mailing list:

[code]

[2017-12-15 09:10] dstenger commented on #22
I also do not see the reason why "csw:SearchResults/@nextRecord = 1" is expected.

[2017-12-15 10:04] dstenger commented on #22
@lorebiga Can you please take a look at the reported behaviour?

[2018-03-12 16:35] rjaduthie commented on #22
Any further on this?  I'm not sure of the lifecycle of an issue in this ecosystem, but it's been 3 months since the last activity.

[2018-03-13 09:50] dstenger commented on #22
@lorebiga What do you think about this?

[2018-03-13 11:21] lorebiga commented on #22
I've finally been able to investigate this issue. The test query defines a result set of 11 records, of which none is returned (since maxRecords=0). Hence, the response should specify:

- numberOfRecordsMatched="11"
- numberOfRecordsReturned="0"

As clarified at p. 159, "the nextRecord attribute will indicate to the client where to begin the next query" (to iterate the result set), so:

- nextReco

[2018-03-13 11:28] #22 closed

[2018-03-13 11:31] rjaduthie commented on #22
If you think that this is the definite answer to the question, I can patch my code to comply.  To me, it still doesn't make complete sense that this operation, which returns information on all the records, would then assume that the next record to harvest is the first one in the catalogue; it would probably be safer to report next_record=0, not to mislead a client into potentially re-harvesting al

[2018-03-13 13:09] lorebiga commented on #22
I'm not sure I understand. This operation doesn't return information on all the records, the response refers to the result set identified by the query, which may be a subset of the entire catalogue.
The meaning of nextRecord=0 is clearly defined by the specification (p. 159): "a value of 0 means all records have been returned". In this case, no record has been returned, so 0 would be wrong.

[2018-03-13 13:40] lorebiga commented on #21
I'm not able to reproduce this error. In general, the capabilities document seems invalid. Have you tried validating it?

[2018-03-13 14:13] dstenger commented on #21
@keshav-nangare
Can you please recheck the reported error?
Can you also add what environment you used for testing?

[2018-03-13 14:39] rjaduthie commented on #22
That's a fair point.  So to be precise, this is that information on all
records in the query have been returned.

If I've understood correctly, if resultType="hits" (or equivalently
"maxRecords"=0) then "nextRecord" is superfluous as the response of the
query doesn't 'page'.  It's function when resultType="results", is to allow
paging of the query.  From Table66 of the spec (p159), in the descript

[2018-03-13 15:11] lorebiga commented on #22
The nextRecord parameter is not applicable to requests, but to responses.
A client may of course repeat a query with a resultType=hits parameter. Every time, it will get no records in the response, and nextRecord=1.
In general, it works like this:
- the client sends a request with a query
- the server computes the query result (a list of 1... n records)
- the server sends a response with some of t

[2018-03-13 16:01] rjaduthie commented on #22
Not to lose information, I'll respond in-line.

*> The nextRecord parameter is not applicable to requests, but to
responses.*

This is not being debated.  I think I know why you said it, so to be clear
I should've said: "Is there a situation where there would be a further
repeated resultType="hits" query with startPostion=nextRecord to complete
the client's task?".

*> A client may of course repea

[2018-03-13 19:09] lorebiga commented on #22
I contributed to CSW 3.0, but I don't remember a specific discussion around this very point. In general, I think that comments on approved specification should be formulated as Change Requests, which are directed to the appropriate Working Group, or may trigger the formation of a new Revision Working Group.

In fact, arguing about the rationale of CSW specification is out of scope, in this context

[2018-03-14 13:02] rjaduthie commented on #22
I think that you're putting too much faith in the wording of the
description of nextRecord in Table 66.

So, the wording is:
"A value of 0 means all records have been returned".
But take, for example, a request with resultType='results' and
startPosition > 1, where the catalogue has fewer records than maxRecords.
The response will have nextRecord = 0 but not "all records have been
returned".  The

[2018-03-14 15:12] lorebiga commented on #22
It's not a matter of faith: in this context, we have to stick to the wording of the specification and to the existing scripts. Tc23.1 needs no change, as far as nextRecord is concerned.

Your examples are out of scope, though meaningful and interesting. I agree with you on the meaning of nextRecord. In my opinion, the current wording is clear enough: all the parameters in a response refer to the r

[2018-03-14 15:30] rjaduthie commented on #22
Which is why I've discussed the wording of the specification, which does
not clearly support what you believe it to support.

What do you mean by this?  They discuss requests and responses using
GetRecords within the CSW 2.0.2 specification.  That's exactly in scope,
surely!?

Nice to know ;¬)

a response refer to the result set related to the request.
Which agrees with what I said about the wordi

[2018-03-14 15:32] rjaduthie commented on #22
Incidentally, would there have been a faster way to get a change to the
test, other than a Change Request against the spec?

On 14 March 2018 at 15:30, Roger Duthie <rjaduthie@gmail.com> wrote:

[2018-03-14 15:53] lorebiga commented on #22
Not that I know of. Change Requests are the OGC mechanism to address cases like this.
You can file it here:
  http://ogc.standardstracker.org/

Sorry I can't help you more on this, I'm already overcommitted with maintaining the tests... :-)

[2018-03-15 11:12] rjaduthie commented on #22
Are you the only person working on this? Do you maintain the whole test suite or just the CSW tests?

Well, apart from fixing the test with the current wording! ;¬)

Given that the Change Request is for the benefit of making sure you're happy with what the spec says, can I run this by you.  If I were to suggest the simple change to the description on table 66 for nextRecord to read:
"nextRecord |

[2018-03-15 13:13] keshav-nangare commented on #21
This issue is reproducible local as well as on [beta](http://cite.opengeospatial.org/te2) environment, according to the error log I think the service is invalid.

Locally tested on:
OS: Windows 8.1
Teamengine: 5.2
ets-csw20 : 1.17

[2018-03-15 13:20] lorebiga commented on #22
I'm the only maintainer of the CSW 2.0.2 ETS (and I maintain only this ETS).

As far as I'm concerned (i.e. these tests), I don't think the spec needs any change: I'm already happy with what it says :-)
Go ahead with the Change Request as you prefer, sorry I can't help you more on this.

[2018-03-15 14:38] rogie-bas commented on #22
Hi Lorenzo,

I'm not sure I understand your position on this.  You say you agree with the argument that nextRecord is not correct when resultType='hits' (or equivalent), but won't fix the problem because of your interpretation of the currently worded spec; however, also do not think that the spec should be changed.

It also seems that you are the gatekeeper on correcting the test to reflect the co

[2018-03-15 17:51] lorebiga commented on #22
Roger,

I think we are repeating ourselves here.

I am the maintainer of the CSW 2.0.2 ETS. You can report and refer to me on issues related to the CSW 2.0.2 ETS implementation. I am not the right recipient for arguing the rationale and the design of the CSW specification in general, nor to improve the CSW specification.

Please, don't refer to me on Change Requests to the CSW specification.

I th

[2018-03-15 18:56] rogie-bas commented on #22
Thank you for you patience while I try to make my point clear.  If I submit a Change Request, I will definitely refer to this discussion in my description, as this is the whole reason for the Change Request.  I've already written a draft for the request, in fact.  It doesn't have your name in it, but refers to 'test maintainers', etc.

That this issue hasn't been raised does not mean the behaviour

[2018-03-22 16:14] lgoltz opened #23 "Test csw:csw-2.0.2-GetCapabilities-tc1.1 fails if capabilities contains ExtendedCapabilities"
## Setup
SUT: TODO
Tested with [production ](http://cite.opengeospatial.org/teamengine/)
 * ETS CSW 1.16
 * TEAM Engine 4.10

and local docker environment
 * ETS CSW 1.18-SNAPSHOT
 * TEAM Engine 5.2

## Testfailure
The three subtests fails:
 * ctl:XMLValidatingParser.HINTS
   * Error 1: cvc-elt.1.a: Cannot find the declaration of element 'csw:Capabilities'.
 * ctl:XMLValidatingParser.CSW
   *  Err

[2018-03-22 16:45] lgoltz opened #24 "Test csw:csw-2.0.2-GetCapabilities-tc1.3 fails"
## Setup
SUT: TODO
Tested with [production ](http://cite.opengeospatial.org/teamengine/)
 * ETS CSW 1.16
 * TEAM Engine 4.10

and local docker environment
 * ETS CSW 1.18-SNAPSHOT
 * TEAM Engine 5.2

## Testfailure
Validating the response
[code]
fails with:
 * Error 1: cvc-elt.1.a: Cannot find the declaration of element 'ExceptionReport'.

The [reference implementation](http://demo.pycsw.org/cite/

[2018-03-22 16:48] lgoltz opened #25 "Test csw:csw-2.0.2-GetRecords-tc13.1 fails"
## Setup
SUT: TODO
Tested with [production ](http://cite.opengeospatial.org/teamengine/)
 * ETS CSW 1.16
 * TEAM Engine 4.10

## Testfailure
Request;

[code]
Response:
[code]
Failure:
 *  [FAILURE] Included record dated before 2006-03-26 (2006-03-26Z)

## Proposal:
 * The date in the response is in UTC, date in the request not. Is the response correct? Should the request be in UTC to be clearly?

[2018-03-22 16:58] lgoltz opened #26 "Tests csw:csw-2.0.2-GetRecords-tc20.1 and csw:csw-2.0.2-GetRecords-tc21.1 fails cause of expected Exception"
## Setup
SUT: TODO
Tested with [production ](http://cite.opengeospatial.org/teamengine/)
 * ETS CSW 1.16
 * TEAM Engine 4.10

## Testfailure
Request;
Both tests expects an ExceptionReport but the service returns a GetRecordsResponse.

Request (csw:csw-2.0.2-GetRecords-tc20.1):
[code]

Failure:
[code]

## Notes:
 * Test csw:csw-2.0.2-GetRecords-tc21.1 requests with typeNames="csw:BriefRecord"

[2018-03-22 17:01] lgoltz commented on #26
As far as I see the csw:BriefRecord and csw:SummaryRecord are no valid values in a GetRecords request for typeNames. This is also what the service clains in the capabilities (csw:BriefRecord and csw:SummaryRecord are allowed values for DescribeRecord operation, not for GetRecords).

So I think the service has to return an ExceptionReport.

[2018-03-28 08:34] dstenger commented on #21
We should check if the error message can be improved.

[2018-03-28 08:45] lgoltz commented on #21
Well, I can reproduce the failure too. Test `csw:csw-2.0.2-GetRecordById-tc1.2` fails with the failure above. The following request (https://gptogc.esri.com/geoportal/csw)

[code]

returns a GetRecords response with multiple BriefRecords and dc:identifier. E.g.:

[code]

Test test does not consider multiple occurrences of dc:identifier, it selects all:
https://github.com/opengeospatial/ets-csw202/

[2018-05-09 14:04] lgoltz opened #27 "New HTML report does not list tests"
Furthermore a WMS is referenced as Capabilities URL.

Can be tested in [beta](http://cite.opengeospatial.org/te2/) with http://demo.pycsw.org/cite/csw?service=CSW&acceptVersions=2.0.2&request=GetCapabilities

[2018-05-14 13:20] lgoltz opened #29 "Link to testdata is invalid"
The link to the testdata (http://opengeospatial.github.io/ets-csw202/data/csw-2.0.2-data.zip) on http://opengeospatial.github.io/ets-csw202/ fails with a 404.

[2018-05-14 13:26] lgoltz commented on #25
I think we close this issue as timezoned dates was removed from the test suite in #6.

[2018-05-14 13:27] lgoltz commented on #29
test data can be found here: https://github.com/opengeospatial/ets-csw202/tree/master/src/main/resources/data

[2018-05-14 13:50] lgoltz commented on #23
Fixed with #30

[2018-05-15 09:54] lgoltz commented on #24
[OGC CSW 2.0.2 Specification](http://portal.opengeospatial.org/files/?artifact_id=20555)

[code]

As far as see the response with OWS ExceptionReport version 1.2.0 is fine and the test has to fixed (as well as the reference implementation) .

@lorebiga What do you think about this?

[2018-05-15 10:03] lgoltz commented on #26
@lorebiga Do you agree?

[2018-05-18 11:28] rogie-bas commented on #22
I have now filled out a change request for clarification on this issue in the CSW spec: http://ogc.standardstracker.org/show_request.cgi?id=547

[2018-06-27 12:05] #25 closed

[2018-07-02 10:21] dstenger commented on #27
# Functional test

Tested with [teamengine-docker](https://github.com/opengeospatial/teamengine-docker) and [1].

Now, all tests are listed and report is shown correctly.

[1] http://demo.pycsw.org/cite/csw?service=CSW&acceptVersions=2.0.2&request=GetCapabilities

[2018-07-02 10:21] #27 closed

[2018-07-02 10:30] #29 closed

[2018-07-04 13:46] lorebiga commented on #24
Hi @lgoltz , sorry for the belated reply... What's the issue here? It looks like a validation error... Is SchemaLocation right?

[2018-07-04 13:49] lgoltz commented on #24
@lorebiga No problem, thanks! Yes, it is a validation error. There is no schemaLocation in the response.

[2018-07-04 14:16] lorebiga commented on #26
@lgoltz looks like a validation error, similar to #24...

[2018-07-04 14:19] lorebiga commented on #24
if I remember well, the schema location should be indicated to the validatingParser instance, with an appropriate initialization parameter. I think this issue and similar others may be closed.

[2018-08-28 17:16] #21 closed

[2018-08-28 17:18] #23 closed

[2019-06-03 10:04] dstenger opened #33 "Enable REST API"

[2019-09-10 09:29] keshav-nangare commented on #33
Fixed with this commit: 634f729

[2019-10-17 20:25] sptillma opened #35 "csw-2.0.2-GetRecordById-tc6.1 - firewall will not allow unsupported OutputSchema response"
CSW test csw-2.0.2-GetRecordById-tc6.1 sends the following request including a bogus OutputSchema value.
http://ogc.intergraph.com/erdas-apollo/catalog/wrs/WRS?OutputSchema=http://example.org/unsupported&Version=2.0.2...

However, our test site is still controlled by our firewall and will not allow that communication.  If we change it to a machine that we can reach like:
http://ogc.intergraph.com/

[2019-10-18 07:35] dstenger commented on #35
Thank you for reporting.
So, test `csw-2.0.2-GetRecordById-tc6.1` is failing when using second request?
What are the input parameters when starting a test run?

[2019-10-18 13:00] sptillma commented on #35
I don’t really see this as a problem with the CITE tests, but rather I see it as a test that will create problems for people with strict firewalls.  So I am really only filing this as a means to get a waiver on this test.  I will try to explain it below, but I don’t expect there is anything to change in the test itself.

CSW 2.0.2
csw-2.0.2-GetRecordById-tc6.1
Test Name:
csw-2.0.2-GetRecordById-tc

[2019-10-21 08:20] dstenger commented on #35
@keshav-nangare Can you please take a look at this?

[2019-10-21 14:17] bermud commented on #35
The service seems ok. I suggest next time that the tester also opens the URL to where the schema resides.

[2020-03-18 11:03] dstenger commented on #24
@keshav-nangare Can you please check if this issue can be closed?

[2020-03-18 11:04] dstenger commented on #26
@keshav-nangare Can you please check if this issue can be closed?

[2020-04-20 07:31] keshav-nangare commented on #24
@dstenger

As mentioned in an earlier comment by Lyn, there is no schema location in service so tests are getting failed. I have verified with other services [1] and [2] test suite gets executed successfully.

[1] http://demo.pycsw.org/cite/csw?service=CSW&acceptVersions=2.0.2&request=GetCapabilities
[2] http://ri.essi-lab.eu/gi-cat-RI/services/cswiso?service=CSW&version=2.0.2&request=GetCapabilit

[2020-04-20 07:32] keshav-nangare commented on #26
@dstenger as it similar to #24, please see https://github.com/opengeospatial/ets-csw202/issues/24#issuecomment-616364734 for more details.

[2020-04-22 08:07] #24 closed

[2020-04-22 08:07] #26 closed

[2021-12-20 16:42] dstenger opened #37 "Deployment to Central Maven Repository fails"
[code]